.danwrapper {
  width: 100%;
  justify-content: center;
}

.sblegend {
  color: white;
  width: 100%;
  position: relative;
  left: 20%;
  margin-top: 4.5vh;
}

.sblegend:hover {
  color: #E62E5C;
}

.image-list {
  margin-top: 0vh !important;
}

.imagelistlegend {
  position: relative;
  color: white;
  width: 100%;
}

.imagelistlegend:hover {
  color: #E62E5C;
}

.image-list img:hover {
  border: 2.5px solid #E62E5C;
}

.logolegend {
  position: absolute;
  right: 51%;
  top: 30%;
}

.SearchBar {
  position: relative;
}

.logo:hover {
  border: 2.5px solid #E62E5C;
}

.SearchBar:hover {
  border: 2.5px solid #E62E5C;
}

.image-list:hover {
  border: 2.5px solid #E62E5C;
}